/* Copyright: 2boom 2023-25 */
:root {
    --mred: #FF9D9F;
    --myellow: #FFD38C;
    --mgreen: #CBE070;
    --mdarkgreen: #11893A;
    --mdarkred: #C53131;
    --mblue: #9FADE3;
    --mviolet: #AE8FC0;
    --mdarkblue: #0881d8;
    --mbutbkghv: #0056b3;
    --mbutbkgac: #003d7a;
    --mmesborder: #ccc;
    --primary: #00A4E9; /* Blue */
    --success: #00D672; /* Green */
    --warning: #FF6433; /* Orange */
    --error: #FF2337; /* Red */
    --secondary: #F8AE3C; /* Yellow */
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-scheme-background: #252525;
        --color-scheme-text-color: #EFEFEF;
        --mapp: #B9B9C8;
        --mmessage: #2b2b2b;
        --mdesc: #B9B9C8;
        --mbkg: #383838;
        --msbkg: #2B2B2B;
        --mhbkg: #454545;
        --mhbor: #FF595E;
        --mborder: #666666;
        --mactive: #B9B9C8;
        --minactive: #FF5C5F;
        --mexited: #F9B236;
        --mmenu: #969696;
        --hoo: #454545;
        --imgbkg: #2B2B2B;
        --mheader: #000000;
        --msearch: #3B3B3B;
        --mplaceholdertext: #C9C9C9;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-scheme-background: #F8F8F8;
        --color-scheme-text-color: #555657;
        --mapp: #313140;
        --mmessage: #e1e1e1;
        --mdesc: #696969;
        --mbkg: #F5F5F5;
        --msbkg: #FCFCFC;
        --mhbkg: #EEEEEE;
        --mhbor: #FF6368;
        --mborder: #CFCFCF;
        --mmenu: #969696;
        --mactive: #5E6E18;
        --minactive: #FF5C5F;
        --mexited: #F9B236;
        --hoo: #FBFBFB;
        --imgbkg: #EBEBEB;
        --mheader: #FFFFFF;
        --msearch: #FBFBFB;
        --mplaceholdertext: #808080;
    }
}

html {
    background: var(--color-scheme-background);
    color: var(--color-scheme-text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.2;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

body {
    margin: 5px 15px;
    font-size: 0.9em;
    width: 100%;
    position: relative;
}

h1 {
    color: var(--mapp);
    font-size: 0.95em;
    font-weight: normal;
    margin: 0 0 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px;
    background-color: var(--msbkg);
}

th, td {
    border: 1px solid var(--mborder);
    padding: 5px 4px 5px 8px;
    text-align: left;
}

th {
    background-color: var(--mhbkg);
    color: var(--mapp);
}

tr:nth-child(even) {
    background-color: var(--mbkg);
}

td span[title] {
    cursor: pointer;
}

.footer {
    position: relative;
    margin-top: 7px;
    text-align: right;
    height: 26px;
    font-size: 0.8em;
    font-weight: normal;
    color: var(--mborder);
    background-color: transparent;
}

.truncate-digest, .truncate-image {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 10px 0;
        border: none;
        background-color: var(--msbkg);
    }

    tr:nth-child(even) {
        background-color: var(--mbkg);
    }

    td {
        border: none;
        border-bottom: none;
        position: relative;
        padding: 3px;
        text-align: left;
        line-height: 1.1;
        width: 100%;
        padding-right: 5px;
    }

    td:before {
        display: none;
    }
    
    td[data-label="Status"] {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    td[data-label="Status"] span {
        margin-left: 0;
        padding: 2px;
    }

    td[data-label="Digest"] .truncate-digest,
    td[data-label="Image"] .truncate-image {
        max-width: 85%;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    td:last-child {
        border-bottom: none;
    }

    .footer {
        right: 0;
        text-align: center;
    }
}