<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='mstile-144x144.png') }}">
    <title>Watchdigest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
</head>
<body>
    <h1>Last: {{ last_checked }} | Next: {{ next_run }}</h1>
    <table id="dockerTable">
        <thead>
            <tr>
                <th>Container Name</th>
                <th>Digest</th>
                <!--<th>{{ white_dot }}</th>-->
                <th>Image</th>
                <th>Size</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td data-label="Container Name">{{ item.container_name }}</td>
                    <td data-label="Digest"><span class="truncate-digest">{{ item.digest }}</span></td>
                    <!-- <td data-label="Status">-->
                    <td data-label="Image"><span class="truncate-image">
                        {% if item.status == "outdated" %}
                            <span title="Outdated">{{ orange_dot }}</span>
                        {% elif item.status == "uptodate" %}
                            <span title="Updated">{{ green_dot }}</span>
                        {% elif item.status == "error" %}
                            <span title="Error">{{ red_dot }}</span>
                        {% elif item.status == "unable" %}
                            <span title="Unable update">{{ yellow_dot }}</span>
                        {% else %}
                            <span title="Unknown">{{ white_dot }}</span>
                        {% endif %}
                    <!--</td> -->
                    {{ item.image }}</span></td>
                    <td data-label="Size">{{ item.size }}</td>
                    <td data-label="Created">{{ item.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="footer">Watchdigest, © 2boom, 2025</div>
    <script>
        setInterval(function() {
            fetch('/')
                .then(response => response.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    document.querySelector('#dockerTable').outerHTML = doc.querySelector('#dockerTable').outerHTML;
                    document.querySelector('h1').outerHTML = doc.querySelector('h1').outerHTML;
                })
                .catch(error => console.error('Error refreshing page:', error));
        }, 30000);
    </script>
</body>
</html>