<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='mstile-144x144.png') }}">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <title>Watchdigest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
</head>
<body>
    <table id="dockerTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Container Name</th>
                <th>{{ white_emoji }}</th>
                <th>Image</th>
                <th>Digest</th>
                <th>Size</th>
                <th>Created</th>
            </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td data-label="Count">{{ item.count }}</td>
                <td data-label="Container Name"><span class="nowrap-container">{{ item.container_name }}</span></td>
                <td data-label="Status">
                    {% if item.status == "outdated" %}
                        <span title="Outdated">{{ orange_emoji }}</span>
                    {% elif item.status == "uptodate" %}
                        <span title="Updated">{{ green_emoji }}</span>
                    {% elif item.status == "error" %}
                        <span title="Error">{{ red_emoji }}</span>
                    {% elif item.status == "unable" %}
                        <span title="Unable check">{{ yellow_emoji }}</span>
                    {% else %}
                        <span title="Unknown">{{ white_emoji }}</span>
                    {% endif %}
                </td>
                <td data-label="Image"><span class="nowrap-image">{{ item.image }}</span></td>
                <td data-label="Digest"><span class="nowrap-digest">{{ item.digest }}</span></td>
                <td data-label="Size"><span class="nowrap-size">{{ item.size }}</span></td>
                <td data-label="Created"><span class="nowrap-created">{{ item.created }}</span></td>
            </tr>
        {% endfor %}
</tbody>

    </table>
    <div class="log-section">
        <h1>{{ white_emoji }} Execution Logs</h1>
        <div id="logContent"></div>
    </div>
    <div class="copyright">
        <span>Watchdigest, © 2boom, 2025</span>
    </div>

    <script>
        // Refresh table every 30 seconds
        setInterval(function() {
            fetch('/')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.text();
                })
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const newTable = doc.querySelector('#dockerTable');
                    if (newTable && document.querySelector('#dockerTable')) {
                        document.querySelector('#dockerTable').outerHTML = newTable.outerHTML;
                    }
                })
                .catch(error => console.error('Error refreshing page:', error));
        }, 30000);

        // Log fetching functionality
        let previousLogContent = '';

        function fetchLogs() {
            fetch('/logs')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.text();
                })
                .then(data => {
                    const logContent = document.getElementById("logContent");
                    logContent.innerHTML = data;
                    if (data !== previousLogContent) {
                        logContent.scrollTop = logContent.scrollHeight;
                    }
                    previousLogContent = data;
                })
                .catch(error => {
                    console.error('Error fetching logs:', error);
                    document.getElementById("logContent").innerHTML = "Failed to load logs.";
                });
        }

        // Initial log fetch
        fetchLogs();
        // Refresh logs every 5 seconds
        setInterval(fetchLogs, 5000);
    </script>
</body>
</html>